* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

main {
    width: 60%;
    margin: auto;
}

#profile__section {
    text-align: center;
    padding: 30px;
}

#profile__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#twitter {
    font-weight: bold;
}

#slack {
    display: none;
}

#links a {
    display: block;
    background-color: #EAECF0;
    padding: 24px 32px;
    margin: 24px;
    text-decoration: none;
    color: #101828;
    text-align: center;
}

#comm__icons {
    display: flex;
    justify-content: center;
}

#comm__icons img {
    padding: 30px 15px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 60px 40px;
}