* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

main {
    width: 70%;
    margin: auto;
}

#profile__section {
    text-align: center;
    padding: 40px;
}

#profile__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#share_1 {
    position: relative;
    bottom: 120px;
    left: 250px;
}

#share_2 {
    display: none;
}
#twitter {
    font-weight: bold;
}

#slack {
    display: none;
}

#links a {
    display: block;
    background-color: #EAECF0;
    padding: 24px 32px;
    margin: 24px;
    text-decoration: none;
    color: #101828;
    text-align: center;
    border-radius: 5px;
}

#comm__icons {
    display: flex;
    justify-content: center;
}

#comm__icons img {
    padding: 60px 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    width: 80%;
    margin: 40px auto 0 auto;
    border-top: 1px solid #EAECF0;;
}